{sub_dirs, [
            "apps/paperless",
            "rel"
           ]}.

{lib_dirs, ["deps", "apps"]}.

%% Which files to cleanup
{clean_files, [
               "erl_crash.dump",
               "apps/*/ebin"
              ]}.

% {erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
        {mochiweb, ".*",
         {git, "https://github.com/basho/mochiweb.git", {branch, "master"}}}
       ]}.

{require_otp_vsn, "R14|R15"}.
